.image-display {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 10px;
  flex-flow: row wrap;
  justify-content: center;
  overflow-y: scroll;
  position: absolute;
  width: 767px;
  height: 411px;
  margin-top: 105px;
  right: 0px;
}

.image-display-card {
  height: 172px;
  width: 172px;
  background-color: rgba(182, 199, 206, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  cursor: pointer;
}

.photo-bar {
  background-color: white;
  width: 767px;
  height: 55px;
  position: absolute;
  bottom: 481px;
  box-shadow: 1px 3px 3px #888888;
  cursor: pointer;
  right: 0px;
  z-index: 9;
}

.photo-folder {
  list-style: none;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 90px;
}

.custom-button {
  display: flex;
  width: auto;
  height: auto;
  letter-spacing: 0.5px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #20c3af;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.social-upload-btn {
  margin-top: 530px;
  margin-left: 650px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
}

.upload-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 15px;
  background-color: #ff620c;
  border: none;
  color: white;
  border-radius: 4px;
  text-overflow: ellipsis;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  top: 200px;
}

.photo-bar-icon {
  font-size: 17px;
}
